.body::before{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #00000058;
  content: '';
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}
.body.blackout::before{
  opacity: 1;
  visibility: visible;
}
.body__icons{
  visibility: hidden;
  position: absolute;
}

/* ___________
Верхняя часть шапки страницы
______________*/
.header{
  position: absolute;
  left: 0;
  right: 0;
}
.header__container{
  max-width: var(--max-width-container-max);
  padding: 0 var(--padding-lr-container-desktop);
  margin: auto;
}
.header__head{
  display: grid;
  grid-template-columns: 1fr 2fr auto;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}
.header__logo{
  display: flex;
  align-items: center;
  padding-right: 30px;
  border-right: 1px solid var(--color-border-grey);
  font-family: var(--font-family-cormorant-garamond);;
  font-size: var(--font-size-text-md);
  transition: color .2s;
}
.header__logo:hover{
  color: var(--color-text-gold);
}
.header__logo:focus-visible{
  color: var(--color-text-gold);
}
.header__logo img{
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.header__logo strong{
  max-width: 150px;
}
.header__control{
  display: flex;
  align-items: center;
}
.header__socials{
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin-right: 20px;
  border: 1px solid var(--color-border-grey);
  border-radius: var(--radius-md);
}
.header__socials::before{
  width: 20px;
  height: 20px;
  margin-right: 20px;
  content: url('../media/icons/dialog.svg');
}
.header__description{
  max-width: 200px;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-xs);
  color: var(--color-text-grey);
}
.header__description strong{
  display: block;
  color: var(--color-text-black);
}
.header__messenger{
  display: inline-block;
}
.header__logo:focus-visible{
  color: var(--color-text-gold);
}
.header__messenger:not(:last-child){
  margin-right: 20px;
}
.header__messenger svg{
  width: 40px;
  height: 40px;
  fill: var(--color-bg-dark-blue);
  transition: fill .2s;
}
.header__messenger:hover svg{
  fill: var(--color-bg-gold);
}
.header__messenger:focus-visible svg{
  fill: var(--color-bg-gold);
}
.header__btn_cosult{
  padding: 20px 30px;
  border-radius: var(--radius-md);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-sm);
  background-color: var(--color-bg-white);
  transition: background-color .2s, color .2s;
}
.header__btn_cosult:hover{
  color: var(--color-text-white);
  background-color: var(--color-bg-gold);
}
.header__btn_cosult:focus-visible{
  color: var(--color-text-white);
  background-color: var(--color-bg-gold);
}
.header__icon-btn{
  display: none;
}
.header__btn_burger{
  position: relative;
  width: 40px;
  height: 40px;
  display: none;
  border-radius: 50px;
  background-color: var(--color-bg-dark-blue);
  transition: background-color .2s;
}
.header__btn_burger.open{
  background-color: var(--color-bg-gold);
}
.header__btn_burger span {
  position: absolute;
  top: 50%;
  left: 10%;
  right: 10%;
  height: 2px;
  background-color: #fff;
  transition: background-color .2s, transform .2s;
}
.header__btn_burger::before{
  position: absolute;
  top: 25%;
  left: 5%;
  width: 50%;
  height: 2px;
  background-color: #fff;
  content: '';
  transition: top .2s , width .2s, transform .2s .15s;
}
.header__btn_burger::after{
  position: absolute;
  top: 75%;
  right: 5%;
  width: 50%;
  height: 2px;
  background-color: #fff;
  content: '';
  transition: top .2s, width .2s, transform .2s .15s;
}
.header__btn_burger.open span {
  transform: scaleX(0);
  background-color: transparent;
}
.header__btn_burger.open::before{
  top: 50%;
  width: 100%;
  transform: rotate(45deg);
  transition: top .2s .15s, width .2s, transform .2s;
}
.header__btn_burger.open::after{
  top: 50%;
  width: 100%;
  transform: rotate(-45deg);
  transition: top .2s .15s, width .2s, transform .2s;
}


/* ___________
Нижнаяя часть шапки страницы
______________*/
.navbar{
  padding: 15px;
  border-radius: var(--radius-md);
  background-color: var(--color-bg-white);
}
.navbar__list{
  display: flex;
  align-items: center;
}
.navbar__item{
  position: relative;
}
.navbar__item:not(:last-child){
  margin-right: 30px;
}
.navbar__item:hover .navbar__sublist{
  top: -20px;
  visibility: visible;
  opacity: 1;
}
.navbar__item:hover .navbar__link{
  color: var(--color-text-gold);
}
.navbar__item:hover .navbar__link::after{
  opacity: 1;
  background-color: var(--color-text-gold);
}
.navbar__link{
  position: relative;
  display: inline-block;
  padding: 8px 15px;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-sm);
  font-weight: 600;
  color: var(--color-text-dark-blue);
  z-index: 10;
  transition: color .1s;
}
.navbar__link::after{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-text-gold);
  content: '';
  opacity: 0;
  transition: opacity .1s;
}
.navbar__link.active{
  color: var(--color-text-gold);
}
.navbar__link.active::after{
  opacity: 1;
}
.navbar__link:focus-visible{
  color: var(--color-text-gold);
}
.navbar__link:focus-visible::after{
  opacity: 1;
  background-color: var(--color-text-gold);
}
.navbar__sublist{
  position: absolute;
  top: 0;
  left: -2%;
  width: 104%;
  padding: 80px 20px 20px;
  border-radius: var(--radius-md);
  box-sizing: border-box;
  background-color: var(--color-bg-white);
  visibility: hidden;
  box-shadow: 0 0 10px 0 rgba(67, 67, 67, 0.374);
  opacity: 0;
  transition: visibility .1s, opacity .1s, top .1s;
  z-index: 5;
}
.navbar__link:focus-visible + .navbar__sublist{
  top: -20px; 
  opacity: 1;
  visibility: visible;
}
.navbar__subitem:not(:last-child){
  margin-bottom: 5px;
}
.navbar__sublink{
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-sm);
  transition: color .1s;
}
.navbar__sublink::before{
  position: absolute;
  left: -10px;
  top: 40%;
  width: 5px;
  height: 5px;
  border-radius: var(--radius-md);
  background-color: var(--color-text-gold);
  content: '';
  opacity: 0;
  transition: opacity .1s;
}
.navbar__subitem:hover .navbar__sublink{
  color: var(--color-text-gold);
}
.navbar__subitem:hover .navbar__sublink::before{
  opacity: 1;
}
.navbar__subitem:focus-visible .navbar__sublink{
  color: var(--color-text-gold);
}
.navbar__subitem:focus-visible .navbar__sublink::before{
  opacity: 1;
}



.main{
  overflow-x: hidden;
}


/* ___________
Секция Hero
______________*/
.hero{
  background-image: url('../media/images/rose.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__container{
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: start;
  gap: 15px;
  max-width: var(--max-width-container-max);
  padding: 250px 
  var(--padding-lr-container-desktop) 
  var(--padding-tb-container-desktop);
  margin: auto;
  user-select: none;
}
.hero__text{
  padding: 4em 0;
  font-size: var(--font-size-title-lg);
}
.hero__title{
  margin-bottom: var(--margin-bottom-title-desktop);
}
.hero__description{
  font-size: var(--font-size-text-lg);
}
.hero__btn{
  display: none;
  align-items: center;
  padding: 20px 30px;
  margin-bottom: 30px;
  border-radius: var(--radius-lg);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-sm);
  font-weight: 400;
  background-color: var(--color-bg-dark-blue);
  color: var(--color-text-white);
  box-shadow: inset 0 0 10px 1px white;
  animation: heartbeat 2s ease-in-out infinite;
}
.hero__btn::before{
  margin-right: 15px;
  content: url('../media/icons/click.png');
}
.hero__advantages{
  flex-shrink: 0;
}
.hero__advant{
  position: relative;
  max-width: 300px;
  padding: 0.75em;
  border: 1px solid #ffffff49;
  box-sizing: border-box;
  font-size: var(--font-size-title-lg);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 1px 0 #00000049;
  
}
.hero__advant:not(:last-child){
  margin-bottom: 15px;
}
.hero__advant::after{
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 80px;
  height: 80px;
  background-image: url('../media/images/logo_white.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: '';
  opacity: 0.3;
}
.hero__count{
  display: inline-block;
  margin-bottom: 10px;
  font-family: var(--font-family-oswald);
  font-weight: 500;
  color: transparent;
  background: var(--liear-gradient-text-gold);
  background-clip: text;
  -webkit-background-clip: text;
}
.hero__detail{
  position: relative;
  font-size: var(--font-size-text-md);
  font-weight: 400;
  z-index: 5;
}
.hero__detail strong{
  color: var(--color-text-gold);
}
.hero__form{
  
  
}

/* Форма вызова агента */
.calling{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  padding: 2.5em;
  font-size: var(--font-size-text-md);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.445);
  background-color: var(--color-bg-grey);
}
.calling__close{
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  display: none;
}
.calling__title{
  margin-bottom: var(--margin-bottom-title-desktop);
  font-family: var(--font-family-montserrat);
  /* font-size: var(--font-size-title-sm); */
  font-weight: 600;
  color: var(--color-text-dark-blue);
}
.calling__description{
  margin-bottom: 10px;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-sm);
  font-weight: 400;
}
.calling__wrapper{
  display: flex;
  align-self: stretch;
  padding: 20px;
  margin-bottom: 6px;
  border-radius: var(--radius-lg);
  background-color: #fff;
}
.callback__wrapper{
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 6px;
  border-radius: var(--radius-lg);
  background-color: #fff;
}
.callback__wrapper::before{
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
.callback__wrapper_name::before{
  background-image: url('../media/icons/id-card.svg');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}
.callback__wrapper_phone::before{
  background-image: url('../media/icons/phone.svg');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}
.calling__input{
  position: relative;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-xs);
  font-weight: 400;
  z-index: 5;
}
.calling__select{
  position: relative;
  align-self: stretch;
  margin-bottom: 20px;
}
.calling__select::before{
  position: absolute;
  left: 15px;
  top: 25%;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #acacac;
  border-left: 1px solid #acacac;
  content: '';
  transform: rotate(-45deg);
  z-index: 5;
  pointer-events: none;
}
.calling__wrapper_way{
  padding: 10px 40px;
  cursor: pointer;
}
.calling__wrapper_way input{
  cursor: pointer;
}
.calling__list{
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 50px 20px 10px;
  border-radius: var(--radius-lg);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  transition: opacity .1s, visibility .1s, top .1s;
}
.calling__list.active{
  top: 0;
  visibility: visible;
  opacity: 1;
}
.calling__item{
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-xs);
  cursor: pointer;
  transition: color .1s;
}
.calling__item:not(:last-child){
  margin-bottom: 10px;
}
.calling__item.selected{
  color: var(--color-text-gold);
}
.calling__item:hover{
  color: var(--color-text-gold);
}
.calling__btn{
  display: flex;
  align-items: center;
  padding: 20px 30px;
  margin-bottom: 30px;
  border-radius: var(--radius-lg);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-sm);
  font-weight: 400;
  background-color: var(--color-bg-dark-blue);
  color: var(--color-text-white);
  box-shadow: inset 0 0 10px 1px white;
  animation: heartbeat 2s ease-in-out infinite;
}
.calling__btn::before{
  margin-right: 15px;
  content: url('../media/icons/click.png');
}
.calling__checkbox_agree{
  display: flex;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-xs);
  font-weight: 400;
}
.calling__checkbox input{
  display: none;
}
.calling__checkbox input + span{
  position: relative;
  flex-shrink: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: #9E915B;
}
.calling__checkbox input + span::before{
  position: absolute;
  left: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  content: url('../media/icons/checkbox.png');
  opacity: 0;
  transition: opacity .1s;
}
.calling__checkbox input:checked + span::before{
  opacity: 1;
}
.calling__link{
  color: var(--color-text-blue);
}


/* ___________
Секция услуг Services
______________*/
.services__container{
  max-width: var(--max-width-container-max);
  padding: var(--padding-tb-container-desktop) 
  var(--padding-lr-container-desktop);
  margin: auto;
  user-select: none;
}
.servicese__text{
  margin-bottom: 30px;
  font-size: var(--font-size-title-md);
}
.services__title{
  margin-bottom: var(--margin-bottom-title-desktop);
}
.services__description{
  font-size: var(--font-size-text-md);
}
.services__list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 10px;
}
.services__item{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 200px;
  padding: 1.5em;
  background-image: url('../media/images/services_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.services__item::before{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, .90);
  content: '';
  transition: background .2s;
}
.services__item::after{
  position: absolute;
  bottom: 0;
  right: -50px;
  width: 150px;
  height: 150px;
  background-image: url('../media/images/logo_white.png');
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
  opacity: .1;
  transition: opacity .2s;
}
.services__item:nth-child(2n-1)::before{
  background: rgba(196, 184, 137, 0.9);
  /* background: linear-gradient(150deg, rgba(205, 195, 156, .90) 20%, rgba(103, 98, 78, .90)); */
}
.services__item:hover .services__link{
  opacity: 1;
}
.services__item:hover::after{
  opacity: .5;
}
.services__item:hover::before{
  background: var(--color-bg-grey)
}
.services__subtitle,
.services__subdescr{
  position: relative;
  margin-bottom: 20px;
  color: var(--color-text-dark-blue);
  z-index: 1;
  transition: color .2s;
}
.services__subtitle{
  font-size: var(--font-size-title-sm);
  font-weight: 600;
}
.services__subdescr{
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-sm);
  font-weight: 400;
}
.services__link{
  align-self: center;
  padding: 20px;
  margin-top: auto;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-md);
  z-index: 1;
  opacity: 0;
  transition: opacity .2s, color .2s;
}
.services__link:hover{
  color: var(--color-text-gold);
}
.services__link:focus-visible{
  opacity: 1;
}
.services__item:nth-child(2n-1) .services__subtitle,
.services__item:nth-child(2n-1) .services__subdescr {
  color: var(--color-text-white);
}
.services__item:hover .services__subtitle,
.services__item:hover .services__subdescr{
  color: var(--color-text-black);
}
.services__item:last-child{
  align-items: center;
  justify-content: center;
  background: var(--color-bg-grey);
}
.services__item:last-child::before{
  display: none;
}
.services__item:last-child::after{
  display: none;
}
.services__item:last-child .services__subdescr{
  text-align: center;
  color: var(--color-text-black);
}
.services__item:last-child .services__link{
  opacity: 1;
  visibility: visible;
  margin: 0;
  color: var(--color-text-white);
  background-color: var(--color-bg-dark-blue);
}



/* ___________
Секция Отзывов rewiews
______________*/
.reviews__container{
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width-container-max);
  padding: var(--padding-tb-container-desktop) 
  var(--padding-lr-container-desktop);
  margin: auto;
  user-select: none;
}
.reviews__content{
  flex: 1 1 auto;
  min-width: 0;
  /* flex-basis: 40%; */
  font-size: var(--font-size-title-md);
}
.reviews__title{
  margin-bottom: var(--margin-bottom-title-desktop)
}
.reviews__description{
  margin-bottom: var(--margin-bottom-descr-desktop);
  font-size: var(--font-size-text-md);
}
.reviews__btn{
  display: inline-block;
  padding: 15px 25px;
  margin-right: 20px;
  font-size: var(--font-size-text-lg);
  background-color: var(--color-btn-grey);
}
.reviews__slider{
  position: relative;
  flex: 0 0 850px;
  /* flex-basis: 60%; */
  min-width: 750px;
  max-width: 100%;
  /* max-height: 400px; */
  padding: 10px;
  overflow-x: hidden;
  font-size: var(--font-size-text-sm);
}
.reviews__slider::after{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);;
  content: '';
  pointer-events: none;
}
.reviews__wrapper {
  display: flex;
  justify-content: stretch;
  width: 100%;
}
.reviews__slide {
  width: 400px;
  flex-shrink: 0;
  /* min-width: 380px; */
  padding: 2em;
  border-radius: var(--radius-lg);
  box-sizing: border-box;
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-text-sm);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.reviews__slide::after{
  display: block;
  width: 100%;
  height: 20px;
  background-image: url('../media/images/5_stars.png');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}
.reviews__name{
  display: block;
  margin-bottom: 20px;
}
.reviews__text{
  margin-bottom: 20px;
  font-style: italic;
}



/* ___________
Секция частых вопросов
______________*/
.answers__container{
  max-width: var(--max-width-container-max);
  padding: var(--padding-tb-container-desktop) 
  var(--padding-lr-container-desktop);
  margin: auto;
  user-select: none;
}
.answers__title{
  margin-bottom: var(--margin-bottom-title-desktop);
  font-size: var(--font-size-title-md);
}
.answers__content{
  display: flex;
}
.answers__list{
  margin-right: 30px;
}
.answers__question:not(:last-child){
  border-bottom: 1px solid var(--color-border-grey);
}
.answers__question{
  font-size: var(--font-size-text-md);
}
.answers__subtitle{
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.5em 2em;
  cursor: pointer;
}
.answers__subtitle::before{
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  outline: 2px solid var(--color-bg-gold);
  outline-offset: 0;
  background-color: var(--color-bg-gold);
  content: '';
  transition: outline-offset .2s;
}
.answers__subtitle.open::before{
  outline-offset: 4px;
}
.answers__answer{
  height: 0;
  padding: 0 2em;
  box-sizing: border-box;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-30px);
  transition: height .2s, padding .2s, 
  opacity .5s, visibility .5s, transform .2s;
}
.answers__answer.open{
  height: auto;
  padding: 0 2em 1.5em;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.callback{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  max-height: fit-content;
  padding: 2.5em;
  font-size: var(--font-size-text-md);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.445);
  background-color: var(--color-bg-grey);
}
.callback__close{
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  display: none;
}
.callback__title{
  margin-bottom: var(--margin-bottom-title-desktop);
  font-family: var(--font-family-montserrat);
  /* font-size: var(--font-size-title-sm); */
  font-weight: 600;
  color: var(--color-text-dark-blue);
}
.callback__description{
  margin-bottom: 10px;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-sm);
  font-weight: 400;
}
.callback__wrapper{
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 20px;
  margin-bottom: 6px;
  border-radius: var(--radius-lg);
  background-color: #fff;
}
.callback__wrapper::before{
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
.callback__wrapper_name::before{
  background-image: url('../media/icons/id-card.svg');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}
.callback__wrapper_phone::before{
  background-image: url('../media/icons/phone.svg');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}
.callback__input{
  position: relative;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-xs);
  font-weight: 400;
  z-index: 5;
}
.callback__select{
  position: relative;
  align-self: stretch;
  margin-bottom: 20px;
}
.callback__select::before{
  position: absolute;
  left: 15px;
  top: 25%;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid #acacac;
  border-left: 1px solid #acacac;
  content: '';
  transform: rotate(-45deg);
  z-index: 5;
  pointer-events: none;
}
.callback__wrapper_way{
  padding: 10px 40px;
  cursor: pointer;
}
.callback__wrapper_way input{
  cursor: pointer;
}
.callback__list{
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 50px 20px 10px;
  border-radius: var(--radius-lg);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  transition: opacity .1s, visibility .1s, top .1s;
}
.callback__list.active{
  top: 0;
  visibility: visible;
  opacity: 1;
}
.callback__item{
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-xs);
  cursor: pointer;
  transition: color .1s;
}
.callback__item:not(:last-child){
  margin-bottom: 10px;
}
.callback__item.selected{
  color: var(--color-text-gold);
}
.callback__item:hover{
  color: var(--color-text-gold);
}
.callback__btn{
  display: flex;
  align-items: center;
  padding: 20px 30px;
  margin-bottom: 30px;
  border-radius: var(--radius-lg);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-sm);
  font-weight: 400;
  background-color: var(--color-bg-blue);
  color: var(--color-text-white);
  box-shadow: inset 0 0 10px 1px white;
}
.callback__btn::before{
  margin-right: 15px;
  content: url('../media/icons/click.png');
}
.callback__checkbox_agree{
  display: flex;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-xs);
  font-weight: 400;
}
.callback__checkbox input{
  display: none;
}
.callback__checkbox input + span{
  position: relative;
  flex-shrink: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: #9E915B;
}
.callback__checkbox input + span::before{
  position: absolute;
  left: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  content: url('../media/icons/checkbox.png');
  opacity: 0;
  transition: opacity .1s;
}
.callback__checkbox input:checked + span::before{
  opacity: 1;
}
.callback__link{
  color: var(--color-text-blue);
}



/* ___________
Секция товаров и цен на принадлежности
______________*/
.products{
  background-color: var(--color-bg-milk);
}
.products__container{
  max-width: var(--max-width-container-max);
  padding: var(--padding-tb-container-desktop) 
  var(--padding-lr-container-desktop);
  margin: auto;
  user-select: none;
}


.tariffs{
  /* display: flex;
  justify-content: space-between; */
}
.tariffs__rate{
  display: flex;
  padding: 1.5em;
  font-size: var(--font-size-title-sm);
  background-color: var(--color-bg-white);
}
.tariffs__rate:not(:last-child){
  margin-bottom: 20px;
}
.tariffs__head{
  flex-basis: 30%;
  min-width: 260px;
  margin-right: 20px;
}
.tariffs__title{
  margin-bottom: 40px;
}
.tariffs__description{
  margin-bottom: 30px;
}
.tariffs__price{
  padding: .5em;
  margin-bottom: 20px;
  width: fit-content;
  border-radius: var(--radius-max);
  background-color: #f1f1f1a1;
}
.tariffs__count{
  display: flex;
  align-items: center;
  font-size: var(--font-size-title-md);
  color: transparent;
  background: var(--liear-gradient-text-gold);
  background-clip: text;
  -webkit-background-clip: text;
}
.tariffs__count::before{
  margin-right: 10px;
  content: 'от';
}
.tariffs__count::after{
  content: 'руб.';
}
.tariffs__list{
  padding: 0.5em 1em;
}
.tariffs__item{
  position: relative;
  display: flex;
  align-items: center;
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-text-md);
}
.tariffs__item::before{
  position: absolute;
  left: -1em;
  width: 2px;
  height: 100%;
  background-color: var(--color-bg-gold);
  content: '';
}
.tariffs__item:not(:last-child){
  margin-bottom: 10px;
}
.tariffs__btn{
  display: flex;
  align-items: center;
  padding: 20px 30px;
  margin-bottom: 30px;
  border-radius: var(--radius-lg);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-text-sm);
  font-weight: 400;
  background-color: var(--color-bg-blue);
  color: var(--color-text-white);
  box-shadow: inset 0 0 10px 0 white;
  /* animation: heartbeat 2s ease-in-out infinite; */
}
.tariffs__btn::before{
  margin-right: 15px;
  content: url('../media/icons/click.png');
}



/* ___________
Секция Footer
______________*/
.footer{
  display: none;
}
.footer__container{
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width-container-max);
  padding: 50px var(--padding-lr-container-desktop) 100px;
  margin: auto;
}
.footer__logo{
  display: block;
  
}
.footer__logo img{
  width: 50px;
  height: 50px;
}

.footer__content{
  display: flex;
  column-gap: 30px;
}
.footer__links{
  flex: 1 1 0;
  min-width: 0;
}
.footer__subtitle{
  margin-bottom: var(--margin-bottom-title-desktop);
}
.footer__item:not(:last-child){
  margin-bottom: 10px;
}