.product__container {
    display: flex;
    max-width: var(--max-width-container-max);
    padding: 50px var(--padding-lr-container-desktop) var(--padding-tb-container-desktop);
    margin: auto;
}

.product__content {
    width: 70%;
    margin-right: 20px;
}

.product__title {
    margin-bottom: var(--margin-bottom-title-desktop);
}



/* ___________
Левая колонка с галереей и описанием
______________*/
.product__media {
    display: flex;
    margin-bottom: 40px;
}

#thumps {
    flex-basis: 250px;
    max-height: 70vh;
    background-color: white;
}

#thumps {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

#thumps .swiper-slide {
    height: 100%;
    opacity: 0.4;
}

#thumps .swiper-slide-thumb-active {
    opacity: 1;
}

#photo {
    width: 100%;
}

.swiper-slide img {
    height: 100%;
}

.tabs__btns {
    margin-bottom: 20px;
    border-bottom: var(--border-grey);
}

.tabs__btn {
    padding: 10px 0;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-text-md);
    color: var(--color-text-dark-grey);
    transition: color .2s;
}

.tabs__btn:not(:last-child) {
    margin-right: 10px;
}

.tabs__btn.active {
    color: var(--color-text-black);
}

.tabs__details {
    overflow: hidden;
}

.tabs__detail {
    flex-basis: 100%;
    flex-shrink: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity .2s, visibility .2s, height .2s, transform .2s;
}

.tabs__detail.active {
    height: auto;
    transform: none;
    visibility: visible;
    opacity: 1;
}


/* ___________
Правая колонка с условиями и кнопками
______________*/
.conditions {
    flex-basis: 30%;
    height: fit-content;
}

.conditions__control {
    padding: 2rem;
    margin-bottom: 40px;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-sm)
}

.conditions__prices {
    margin-right: auto;
    margin-bottom: 20px;
}

.conditions__price {
    font-family: var(--font-family-montserrat);
}

.conditions__price_new {
    margin-bottom: 5px;
    font-size: var(--font-size-title-xs);
}

.conditions__price_old {
    font-size: calc(var(--font-size-title-xs) - 4px);
    text-decoration: line-through;
    vertical-align: top;
}

.conditions__price::after {
    content: ' р';
}

.conditions__description {
    margin-bottom: 20px;
}

.param {
    margin-bottom: 20px;
}

.param__name {
    display: inline-block;
    margin-bottom: 10px;
}

.param__options {
    display: flex;
    align-items: center;
}

.param__option {
    padding: 3px 8px;
}

.param__option.active {
    border: var(--border-blue);
}

.param__option:not(:last-child) {
    margin-right: 10px;
}

.conditions__btns {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: var(--radius-max);
    overflow: hidden;
}

.conditions__btns .conditions__input {
    width: 50px;
    text-align: center;
    border: none;
    font-size: 16px;
    -moz-appearance: textfield;
}

.conditions__btns .conditions__input::-webkit-outer-spin-button,
.conditions__btns .conditions__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Кнопки */
.conditions__btns .conditions__btn {
    width: 30px;
    height: 30px;
    border: none;
    background: #f0f0f0;
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
}

.conditions__btns .conditions__btn_down::before {
    content: "–";
}

.conditions__btns .conditions__btn_up::before {
    content: "+";
}

.conditions__add {
    padding: 10px;
    border-radius: var(--radius-max);
    background-color: var(--color-bg-blue);
}


/* ___________
Аккордеон с условиями доставки и оплаты
______________*/
.conditions__accord {
    padding: 1rem;
    border: var(--border-grey);
    border-radius: var(--radius-lg);
    background-color: var(--color-bg-grey);
}

.conditions__condition:not(:last-child) {
    border-bottom: 1px solid var(--color-border-grey);
}

.conditions__condition {
    font-size: var(--font-size-text-md);
}

.conditions__name {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5em 1.5em;
    font-size: var(--font-size-title-xs);
    cursor: pointer;
}

.conditions__name::before {
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    outline: 2px solid var(--color-bg-gold);
    outline-offset: 0;
    background-color: var(--color-bg-gold);
    content: '';
    transition: outline-offset .2s;
}

.conditions__name.open::before {
    outline-offset: 4px;
}

.conditions__descr {
    height: 0;
    padding: 0 1em;
    box-sizing: border-box;
    font-size: var(--font-size-text-sm);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateX(30px);
    transition: height .2s, padding .2s,
        opacity .5s, visibility .5s, transform .2s;
}

.conditions__descr.open {
    padding: 1em ;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}